:root{
    //colors-bw
    --colors-bw-black: #0C0D0D;
    --colors-bw-black1: #252627;
    --colors-bw-black2: #3C3E40;
    --colors-bw-white: #FDFDFD;
    --colors-bw-white1: #F7FAFF;
    --colors-bw-white2: #DADFEB;
    //colors-brand
    --colors-brand-primary-dark: #BA0668;
    --colors-brand-primary: #E11383;
    --colors-brand-primary-light: #FF3BA5;
    --colors-secondary-dark: #6526BF;
    --colors-brand-secondary: #8C3BFF;
    --colors-brand-secondary-light: #A566FF;
}